* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family:cursive
}

html,
body {
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darksalmon;
}
div{
    display: inline-block;
}
.calc-body{
    height: fit-content;
    margin: 10px;
    width: 290px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1rem;
    /* border: 2px solid sandybrown; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
    background-color: #222831;
    gap: 10px;
    color: white;
}
#display{
    grid-area: 1 / 1 / 2 / 5;
    justify-content: end;
    border: 2px solid #7c7778be;
    padding: 10px;
    /* display: block; */
    width:100%;
    text-align: end;
    border-radius: 4px;
    background-color: #344955;
    color:#2d343e;
}
h2,h3{
    border: 2px solid #2d343e;
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 20%;
    padding: 15% 0px;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#display{
    color: rgba(255, 255, 255, 0.82);
}
/* h2:nth-of-type(even){
    color: rgb(56, 241, 56);
} */
/* h2:nth-last-of-type(4){
    color: rgb(56, 241, 56);
} */
h2.clicked{
    animation: keypress;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    /* animation-iteration-count:1; */
}
@keyframes keypress {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0px);
    }
}